/* Navbar styles */
.navbar {
    background-color: #1a1a1a;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  }
  
  .navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; /* Padding uniforme */
  }
  
  .navbar-logo {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: relative;
    padding: 0.5rem 0;
    white-space: nowrap;
  }
  
  /* Style pour le lien actif */
  .nav-links a.active {
    color: #007bff;
  }
  
  /* Style pour le hover */
  .nav-links a:hover {
    color: #007bff;
  }
  
  /* Hamburger button */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }
  
  .hamburger span {
    width: 30px;
    height: 3px;
    background: white;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }
  
  /* Media query pour mobile et tablette */
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
    .navbar {
        height: auto;
      }
    
      .navbar-container {
        flex-direction: column;
        padding: 1rem 2rem;
      }
  
    .nav-links {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      flex-direction: column;
      background-color: #1a1a1a;
      padding: 1rem 0;
      margin: 0;
      text-align: center;
      align-items: center;
    gap: 1rem;
    margin-right: 0;
    width: 100%;
    }
  
    .nav-links.active {
      display: flex;
    }
  
  }